.main{
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
        row-gap: 20px;
      }

.strikethroughusmanbanka{

  text-decoration: line-through;

      }